{
  "presets": [
    "@babel/preset-typescript",
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "9.9.0"
        }
      }
    ]
  ],
  "plugins": [
    [
      "@babel/plugin-proposal-object-rest-spread",
      {
        "useBuiltIns": true
      }
    ],
    ["graphql-tag"]
  ],
  "env": {
    "test": {
      "sourceMaps": "inline"
    }
  }
}
